.container5 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(32, 1fr);
        gap: 10px 10px;
        // grid-auto-flow: row;
        // justify-content: space-between;
        // justify-items: stretch;
        // align-items: stretch;
        background: #F2F2F2;
        width:100%;
        width: 1110px;
        height: 1960px;

}

.pic1 {
     grid-column:1/4;
     grid-row:1/8 ;
    
}

.pic2 {
     grid-column:4/7 ;
     grid-row: 1/7;
    
}

.pic3 {
     grid-column:7/10;
     grid-row:1/11;
    
}

.pic4 {
    // grid-column:1/4 ;
    // grid-row:8/16 ;
    grid-area: 8 / 1 / 16 / 4;
}

.pic5 {
    // grid-column:4/7;
    // grid-row:7/14 ;
    grid-area: 7 / 4 / 14 / 7;
}

.pic6 {
    // grid-column:7/10 ;
    // grid-row:11/18 ;
    grid-area: 11 / 7 / 18 / 10;
}

.pic7 {
    // grid-column:1/4;
    // grid-row: 16/24;
    grid-area: 16 / 1 / 24 / 4;
}

.pic8 {
    // grid-column:4/7 ;
    // grid-row: 14/23;
    grid-area: 14 / 4 / 23 / 7;
}

.pic9 {
    // grid-column: 7/10;
    // grid-row:18/27 ;
    grid-area: 18 / 7 / 27 / 10;
}

.pic10 {
    // grid-column: 1/4;
    // grid-row:24/ 33;
    grid-area: 24 / 1 / 33 / 4;
}

.pic11 {
    // grid-column:4/7 ;
    // grid-row:23/33 ;
    grid-area: 23 / 4 / 33 / 7;
}

.pic12 {
    // grid-column:7/10;
    // grid-row:27/33 ;
    grid-area: 27 / 7 / 33 / 10;
}

// .section4 {
//     margin: 30px;
// }

.container7 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 0.8fr 1.2fr 1fr 1fr; 
    width:100%;
    width: 1110px;
    height: 823px;
    font-family: $main-font;
    color:$main-color;
    margin-top: 30px;

}


.block1 {
    grid-column:1/5;
    grid-row:1/5;
    font-size: 22px;
    font-weight:$main-font-weight;
     margin-top:40px;
}

.block2 {
    grid-area: 1/5/3/7;
    font-weight:$main-font-weight;
    font-size:$main-font-size;
    margin-top:40px;

}

.block3 {
    grid-column:7/9 ;
    grid-row:1/3 ;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .first{
        font-weight: 400;
        line-height: 20px;
    }

    .second {
        opacity:0.6;
        
    }
}

.block4 {
     grid-area:1/9/3/11;
     text-align: right;
     margin-top:40px;
}

.block5 {
    grid-column:5/7;
    grid-row:3/5;
    font-weight:$main-font-weight;
    font-size:$main-font-size;
}

.block6 {
    grid-column:7/9;
    grid-row:3/5;
    display: flex;
    flex-direction: column;

    .third {
        font-weight: 400;
        line-height: 20px;
    }

    .fourth {
        opacity: 0.6;
        margin-top:10px;
        
    }
}


.block7 {
    grid-area:3/9/5/11;
    text-align: right;
}


.block8 {
    grid-column:1/5 ;
    grid-row:5/8 ;
    font-weight:$main-font-weight;
    font-size: 22px;
}

.block9 {
    grid-area: 5/5/6/7;
    font-weight:$main-font-weight;
    font-size:$main-font-size;
}

.block10 {
    grid-column:7/9;
    grid-row:5/6;
    display: flex;
    flex-direction: column;

    .fifth {
        font-weight: 400;
        line-height: 20px; 
    }

    .sixth {
        opacity:0.6;
        margin-top:10px;
    }
}

.block11 {
    grid-area:5/9/6/11;
    text-align: right;
}

.block12 {
    grid-area: 6/5/8/7;
    font-weight:$main-font-weight;
    font-size:$main-font-size;
}

.block13 {
    grid-area:6/7/8/9;
    display: flex;
    flex-direction: column;

    .seventh {
        font-weight: 400;
        line-height: 20px;
    }

    .eighth {
        opacity:0.6;
        margin-top:10px;
    }
}


.block14 {
    grid-area: 6/9/8/11;
    text-align: right;
}

.divider {
    background: #D8D8D8;
    height:2px;
}

.line1 {
    grid-column:1/11 ;
    grid-row:1/2;
}

.line2 {
    grid-column:1/11;
    grid-row: 4/5; 
}

.line3 {
    grid-column:1/11;
    grid-row:7/8;
}







