.container5 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(32, 1fr);
        gap: 10px 10px;
        // grid-auto-flow: row;
        // justify-content: space-between;
        // justify-items: stretch;
        // align-items: stretch;
        background: #F2F2F2;
        width:100%;
        width: 1110px;
        height: 1960px;

}

.pic1 {
     grid-column:1/4;
     grid-row:1/8 ;
    
}

.pic2 {
     grid-column:4/7 ;
     grid-row: 1/7;
    
}

.pic3 {
     grid-column:7/10;
     grid-row:1/11;
    
}

.pic4 {
    // grid-column:1/4 ;
    // grid-row:8/16 ;
    grid-area: 8 / 1 / 16 / 4;
}

.pic5 {
    // grid-column:4/7;
    // grid-row:7/14 ;
    grid-area: 7 / 4 / 14 / 7;
}

.pic6 {
    // grid-column:7/10 ;
    // grid-row:11/18 ;
    grid-area: 11 / 7 / 18 / 10;
}

.pic7 {
    // grid-column:1/4;
    // grid-row: 16/24;
    grid-area: 16 / 1 / 24 / 4;
}

.pic8 {
    // grid-column:4/7 ;
    // grid-row: 14/23;
    grid-area: 14 / 4 / 23 / 7;
}

.pic9 {
    // grid-column: 7/10;
    // grid-row:18/27 ;
    grid-area: 18 / 7 / 27 / 10;
}

.pic10 {
    // grid-column: 1/4;
    // grid-row:24/ 33;
    grid-area: 24 / 1 / 33 / 4;
}

.pic11 {
    // grid-column:4/7 ;
    // grid-row:23/33 ;
    grid-area: 23 / 4 / 33 / 7;
}

.pic12 {
    // grid-column:7/10;
    // grid-row:27/33 ;
    grid-area: 27 / 7 / 33 / 10;
}


