section{
    display: flex;
    justify-content: center;
}
.container7 {
    // display: flex;
    // justify-content: flex-start;
    // justify-content: space-around;
}

.image {
    display: flex;
    justify-content: center;
    width:100%;
    margin: 30px;

}
$main-font:'Mulish';
$main-color: #111111;

.para3 {
    display: flex;
    justify-content: center;
    font-family:$main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:$main-color ;
    mix-blend-mode: normal;
    opacity: 0.8;
   width:100%;
   max-width:1109px;
   margin: 30px;
 }

 .para4 {
    display: flex;
    justify-content: flex-start;
    justify-content:space-evenly;
    width:100%;
    max-width:65%;

 }