.text1 {
    display: flex;
    justify-content: space-between;
}


$main-font:'Mulish';

.container3{
    font-weight: 700;
    font-family: $main-font;
    .heading {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
    }

    .para {
        font-size: 40px;
        line-height: 60px;
        color: #111111;
    }

}

.color {
    color: #4A4FF2;
}


.container4{
    margin:60px;
}
