.text1 {
     display: flex;
     justify-content: flex-start;
     justify-content: space-evenly;
     margin:50px;
 }


$main-font:'Mulish';
$main-font-weight:700;
$main-font-size:18px;
$main-font-size1:16px;
$main-color: #111111;

.container3{
    font-weight:$main-font-weight;
    font-family: $main-font;
    .heading {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -0.423077px;
        color: #4A4FF2;
        width:173px;
        height:28px;
    }

    .para {
        font-size: 40px;
        line-height: 60px;
        color:$main-color;
        width:100%;
        max-width: 635px;
        height: 251px;

    }

}

.color {
    color: #4A4FF2;
}


.container4{
    width:207px;
    height: 23px;
    margin-top:100px;
}

.container6 {
    display:flex;
    justify-content: space-evenly;
    font-family: $main-font;
    width:100%;
    // align-content: center;
    margin-top: 30px;

    .one {
        font-weight:$main-font-weight;
         font-size: 28px;
         line-height: 38px;
         color:$main-color;
         width:100%;
        max-width:635px;
     }

     .two {
        font-weight: 400;
         font-size:$main-font-size;
        line-height: 23px;
        color:$main-color;
        mix-blend-mode: normal;
       opacity: 0.6;
        
     }

}

